@import "__resetSetting";
@import "__basicMixin.scss";
@import "__basicModal.scss";




.container{
    @include container(1200px)
}
.form__active{
    display: none;
}
.FactLoading{
    margin-top:25%;
    &__text{
        font-size: 30px;
        line-height: 23px;
        animation: circle 1.8s cubic-bezier(0.06, -0.09, 0.89, 0.26) infinite normal running 0s none;
    }
    &_active{
        display: none;
    }
}

@keyframes circle{
    0%{
        color: black;
    }
    100%{
        color: white;
    }   
}
.title{
    text-align: center;
}
// header__NothingFound
.header__NothingFound{
    display: flex;
    align-items: center;
    color: rgba(255, 0, 0, 0.774);
    font-size: 30px;
    animation: NothingFound 1.5s cubic-bezier(0.06, -0.09, 0.89, 0.26) infinite normal running 0s none;
    &_active{
        display: none;
    }
}
@keyframes NothingFound{
    0%{
        color: rgba(255, 0, 0, 0.774);
    }
    100%{
        color: black;
    }   
}
// block
.header {
    height: 105vh;
    background: #2C2C55;
    &__top {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background: #222228CC;
        display: flex;
        align-items: center;
        padding: 12px 0;
        color: $clWhite;
    }
    &__topContent {
        @extend %flex-center;
        justify-content: space-between;
        
    }
    &__logo {
        font-size: 22px;
        line-height: 25px;
    }
    &__logoDecor{
        display: flex;
        justify-content: center;
        color: $clPurple;
        font-weight: 500;
    }
    .form{
        width: 400px;
        display: flex;
        background: $clWhite;
        box-shadow: rgb(153, 35, 72) 0px 30px 90px;
        border-radius: 50px;
        height: 40px;
        &__btn{
            display: flex;
            align-self: center;
            padding-right: 20px;
        }
    }
    &__searchBox {
        font-size: 18px;
        color:black;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        transition: all 500ms ease;
        padding: 0 25px;
        &::placeholder{
            color: gray;
        }
    }
    &__films{
        display: flex;
    }
    &__content{
        margin-top: 10px;
    }
    &__title{
        color: $clWhite;
        font-size: 36px;
        margin-bottom: 10px;
    }
    &__wrapper {
        @extend %fl-wr-spBetween;
        justify-content: center;
    }
    &__FactFilm {
        width: 450px;
        height: 450px;
        background: linear-gradient(109.69deg, rgba(29, 66, 162, 0.6) 12.26%, rgba(53, 72, 222, 0.6) 49.27%, rgba(0, 0, 0, 0.6) 65.36%, rgba(255, 0, 79, 0.6) 87.89%, rgba(73, 49, 71, 0.6) 115.24%);
        margin-right: 20px;
        border-radius: 20px;
        padding: 30px;
        color: $clWhite;
        text-align: center;
        &-title{
            font-size: 30px;
            margin-bottom: 30px;
        }
        &-content{
            line-height: 18px;
            font-size: 20px;
        }
        &-text{
            color: $clGrey;
        }
    }
    &__films{
        width: 450px;
        height: 450px;
        display: flex;
        justify-content: center;
    }
}

.card{
    max-width: 450px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 3px rgba(253, 253, 253, 0.334);
    &__img{
        height: 60%;
        &-item{
            object-fit:fill;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }
    &__title{
        color: $clPurple;
        font-size: 28px;
        padding: 8px 0;
    }
    .card__inner{
        padding: 10px 20px;
    }
    &__text{
        color: $clWhite;
        font-size: 20px;
        padding: 5px 0;
    }
    &__decor{
        color: $clGrey;
        text-transform: uppercase;
        font-size: 23px;
        font-weight: 500;
    }
    &__wrapper{
        @extend %fl-wr-spBetween;
        justify-content: space-around;
        align-items: center;
    }
    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 150px;
        padding: 8px 0px ;
        transition: all 1s ease-out 0s;
        font-size: 18px;    
        color:$clGrey;
        &::after{
            content:"";
            display: flex;
            align-self: center;
            color: $clWhite;
            background: url("../img/icon/arrow.svg") no-repeat center right;
            padding: 8px;
            padding-left: 15px;
        }
    }
}

// setting modal
.modalEntrance{
    background: rgba(0, 0, 0, 0.915);

}
.modalEntrance{
    &__content{
        width: 450px;
        background: $clWhite;
        box-shadow: none;
        position: static;
        border: 1px solid #ffffff2c;
        padding: 20px;
        box-shadow: rgba(255, 255, 255, 0.75) 0px 5px 15px;
    }
    &__close{
        top: 4%;
        right: 5%;
        color: $clWhite;
        font-weight: 600;
    }
    &__group{
        display: flex;
        justify-content: space-between;
        &_choice{
            width: 50%;
            font-size:  22px;
            padding: 15px 0;
            cursor: pointer;
            color: black;
            transition: all 500ms ease-in-out;
            box-shadow: #1992d497 0px 30px 60px -12px inset, #0f5276d6 0px 18px 36px -28px inset;
            &:hover{
                color:$clWhite;
                background:#1266977b;
            }
        }
        &_active{
            color:$clWhite;
            background: #127FBF;
            &:hover{
                background: #1992d4c0;
            }
        }
        
    }
}
.form {
    &__item {
        margin-bottom: 20px;
    }
    &__title{
        font-size: 36px;
        background: linear-gradient(251deg, green 2%, rgb(0 165 255 / 75%) 95.49%);
        background-clip: text;
        color: transparent;
        margin: 25px 0;
    }
    &__label{
        display: block;
        font-size: 18px;
        margin-bottom: 5px;
    }
    &__input {
        background: #F0F4F8;
        height: 50px;
        width: 100%;
        border-radius: 15px;
        border: 1px solid #0451cd3c;
        padding: 0 12px;
        font-size: 18px;
        transition: all 500ms ease-in-out;
        &:focus{
            box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
        }
        &::placeholder{
            font-size: 18px;
        }
    }
    .password{
        padding: 0 74px 0 12px;
    }
    &__item_password {
        position: relative;
    }
    .label__password{
        display: none;
        z-index: 1000;
        position: absolute;
        left: 101%;
        top: 15%;
        color: #f0f4f8;
        background: #ff0000c2;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        border-radius: 15px;
        padding: 10px;
        &::before{
            content: "";
            background: url("../img/icon/searchBox/left-arrow.png")left no-repeat;
            object-fit: cover;
            padding:8px 10px 8px 10px;
        }
    }
    .form__item_email{
        position: relative;
    }
    .label__email{
        display: none;
        z-index: 1000;
        position: absolute;
        left: 101%;
        top: 15%;
        color: #f0f4f8;
        background: #ff0000c2;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        border-radius: 15px;
        padding: 10px;
        &::before{
            content: "";
            background: url("../img/icon/searchBox/left-arrow.png")left no-repeat;
            object-fit: cover;
            padding:8px 10px 8px 10px;
        }
    }
    .form__item_login{
        position: relative;
    }
    .label__login{
        display: none;
        z-index: 1000;
        position: absolute;
        left: 101%;
        top: 15%;
        color: #f0f4f8;
        background: #ff0000c2;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        border-radius: 15px;
        padding: 10px;
        &::before{
            content: "";
            background: url("../img/icon/searchBox/left-arrow.png")left no-repeat;
            object-fit: cover;
            padding:8px 10px 8px 10px;
        }
    }
    .label__confirmPassword{
        display: none;
        z-index: 1000;
        position: absolute;
        left: 101%;
        top: 15%;
        color: #f0f4f8;
        background: #ff0000c2;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        border-radius: 15px;
        padding: 10px;
        &::before{
            content: "";
            background: url("../img/icon/searchBox/left-arrow.png")left no-repeat;
            object-fit: cover;
            padding:8px 10px 8px 10px;
        }
    }
    &__password{
        position: relative;
    }
    &__counterText{
        font-size: 17px;
        position: absolute;
        bottom: -23px;
        right: 8px;
    }
    &__passwordImg{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        top: 0;
        right: 0;
        bottom: 0;
        width: 70px;
    }
}
.correct__data{
    border: 2px solid rgb(15 82 118 / 47%);
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}
.modalEntrance__btn {
    font-size: 20px;
    color: $clWhite;
    font-family:'Times New Roman', Times, serif;
    width: 100%;
    padding: 16px;
    cursor:not-allowed;
    border-radius: 15px;
    background: #127FBF;
    transition: all 500ms ease-in-out;
    &:hover{
        color: black;
        background: #1992d4d6
    }
}

// slider
.slider__navigation{
    display: flex;
    justify-content: center;
}
.slider__btn{
    width: 150px;
    padding: 5px 0;
    border-radius: 10px;
    box-shadow: 2px 3px 5px $clPurple;
    color: $clWhite;
    font-size: 20px;
    margin: 14px;
    transition:all 800ms ease-in-out 0s;
    &:hover{
        color:black;
        background: rgba(255, 255, 255, 0.479);
        box-shadow: 2px 3px 5px $clPurple;
    }
}
